html, body {
  height: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: var(--main-brown);
  scroll-behavior: smooth;
}


/* Rem */

html {
  font-size: 10px;
}

body {
  font-size: 16px;
}

:root {
  --main-green: #0b3618;
  --main-beige: #ceccc3cb;
  --main-blue: #BDCAD9;
  --main-black: #241A07;
  --main-brown: #39352b;
}

a, button {
  text-decoration: none;
  color: unset;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

a, h1, p, li, ul, h1, h2, h3, h4, div, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: unset;
  font-weight: unset;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title {
  font-size: 3.8rem;
  text-transform: uppercase;
  font-weight: 500;
}

.subtitle {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 500;
}

.main__block-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 4rem auto;
  gap: 20px;
  text-align: center;
}

.main__block-line {
  width: 55px;
  height: 1px;
  background-color: var(--main-green);
}

.main__block-txt {
  font-size: 2.5rem;
  font-weight: 500;
}

.base-btn {
  color: #fff;
  background-color: var(--main-green);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px 20px;
  outline: thick double #fff;
  -webkit-transition: outline .4s ease-out;
  -o-transition: outline .4s ease-out;
  transition: outline .4s ease-out;
  position: relative;
  font-family: 'IBM Plex Sans', sans-serif;
  text-transform: uppercase;
  margin: 2rem auto 0 auto;
  font-weight: 400;
  font-size: 2rem;
  cursor: pointer;
}

.base-btn:hover,
.base-btn:active,
.base-btn:focus {
  outline: thick double var(--main-green);
}

.social__email,
.social__telegram {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.social__telegram img {
  width: 30px;
}

.social__email img {
  height: 40px;
}

.social__telegram:hover,
.social__email:hover {
  -webkit-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}


.header {
  /* height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; */
  margin: 10rem 0;
}

section, header {
  margin: 5rem 0;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.header__body-txt {
  max-width: 360px;
  text-align: center;
  font-weight: 400;
}

.header__body-img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}

.header__body-img img{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__body-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Main */

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* Pros */

.pros {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pros__quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 10px;
  margin: 0 auto 5rem auto;
}

.pros__quote img {
  width: 25px;
}

.pros__quote-txt {
}

.pros__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pros__card {
  width: 260px;
  height: 200px;
  border-top: 2px solid var(--main-beige);
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 10px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.pros__card:hover {
  border: 2px solid var(--main-beige);
}

.pros__card:hover .pros__card-icon {
  -webkit-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.pros__card-icon {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.pros__card-icon img {
  width: 50px;
}

.pros__card-title {
  font-weight: 500;
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: center;
}

.pros__card-txt {
  font-size: 1.4rem;
  text-align: center;
}


/* Problems */

.problems__block {
  max-width: 100%;
  background-image: url('../assets/images/problems-background.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.problems__body {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  color: white;
  background-color: rgba(22, 22, 22, 0.658);
}

.problems__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  width: 30%;
}

.problems__list-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.problems__list-item {
  list-style: circle;
  font-family: 'IBM Plex Sans', sans-serif;
}

.problems__block-remark {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Steps */

.steps {

}

.steps__body {
  display: flex;
  flex-direction: column;
}

.steps__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem 0;
}

.step {
  height: 200px;
  width: 2px;
  background-color: var(--main-beige);
  position: relative;
}

.step__circle {
  position: absolute;
  top: -14px;
  right: -14px;
  width: 30px;
  height: 30px;
  background-color: #ceccc3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step__last {
  top: unset;
  bottom: -14px;
}

.step__num {
  font-size: 2rem;
  height: 3rem;
  color: var(--main-green);
}

.step__card {
  position: absolute;
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  right: 120px;
  gap: 10px;
  top: -50%;

  transform: translate(0px, 120%);
  transition: all .8s ease 0s;
  opacity: 0;
}

.step__card._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.step__right {
  left: unset;
  left: 120px;
}

.step__icon {
  width: 30px;
}

.step__title {
  font-weight: 500;
  font-size: 1.6rem;
}

.step__txt {
  font-size: 1.4rem;
}



/* Education */


.education__title {
  position: relative;
  padding: 0 0 2rem 0;
  cursor: pointer;
  font-size: 1.5rem;

}

.education__title::before,
.education__title::after {
  content: " ";
  width: 11px;
  height: 2px;
  background-color: var(--main-beige);
  position: absolute;
  top: 15px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.education__title::before {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
  right: 0;

}

.education__title::after {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
  right: 8px;
}

.education__title.active::before,
.education__title.active::after {
  background-color: #62664d;
}

.education__title.active::before {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.education__title.active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.education {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

}

.education__block {

}

.education__col {

}

.education__item {
  padding: 20px 0;
}

.education__title {
  font-size: 2.2rem;
  font-weight: 500;
}

.education__info {
  display: none;
}

.education__info-item {
  list-style: disc;
  list-style-position: inside;
  margin: 10px 0;
}

.education__info-item a {
  color: rgba(0, 0, 0, 0.892);
  text-decoration: underline;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.education__info-item a:hover {
  opacity: 0.7;
}


/* Reviews */


.reviews {

}
.reviews__slider {
  width: 100%
}

.reviews__item {
  max-width: 50%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;;
}

.reviews__author {
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-decoration: underline;
}


.slick-slider {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-slide img {
  width: 100%;
  width: 80%;
  margin: 0 auto;
}


.slick-prev,
.slick-next {
  width: 20px;
  height: 20px;
  color: var(--main-beige);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 0;
  cursor: pointer;
  padding: 0;
  padding: 20px;
}


.slick-prev:hover,
.slick-next:hover {
  opacity: 0.5;
}

.slick-prev {
  border-bottom: 0.4rem solid;
  border-left: 0.4rem solid;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: none;
  border-right: none;
  background-color: transparent;
  left: 0;
}

.slick-next {
  border-bottom: 0.4rem solid;
  border-left: 0.4rem solid;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
  right: 0;
  border-top: none;
  border-right: none;
  background-color: transparent;
}




 /* Price */

.price {

}
.price__body {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 60%;
  margin: 0 auto;
  border: 2px solid var(--main-beige);
  gap: 15px;
  padding: 15px;
}

.price__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.price__list-item {
  font-family: 'IBM Plex Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2rem;
}



/* Modal window */

.contact__modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.contact__body {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  border-radius: 4px;
  position: relative;
  max-width: 400px;
  z-index: 10;
  max-height: 400px;
  position: relative;
}

.contact__text {
  font-size: 1.7rem;
  margin-top: 16px;
}

.social__link {
  text-decoration: underline;
  display: inline;
}

.contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.contact__close {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 3rem;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.contact__close:hover {
  opacity: 0.7;
}

.contact__agreement {
  font-size: 1.3rem;
  margin-top: 16px;
}

.contact__agreement-link {
  display: inline;
  text-decoration: underline;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.contact__agreement-link:hover {
  opacity: 0.7;
}


/* Media */


.media {

}

.media__body {
  display: flex;
  justify-content: center;
}

.media__slider {
  max-width: 100%;
  max-height: 100vh;
}

.media__item {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.media__item video,
.media__item iframe {
  max-height: 50vh;
}

.media__title {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}



/* Footer */

.footer {
  background-color: var(--main-green);
  padding: 10px;
  color: #fff;
  font-weight: 300;
  font-family: 'IBM Plex Sans', sans-serif;
}

.footer__developer img {
  width: 140px;
  height: auto;
}

.footer__body-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.footer__body-col:last-child {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.footer__agreement-link {
  color: #fff;
}

.footer__developer,
.footer__agreement-link {
  text-align: right;
}







/* Media */



@media screen and (max-width: 1024px) {
  .container {
      max-width: 992px;
  }
}

@media screen and (max-width: 992px) {
  .container {
      max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .container {
      max-width: 576px;
  }

  .problems__list-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .problems__list {
    width: 100%;
  }

  .header__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__body-img {
    width: 270px;
    height: 270px;
  }

  .pros__quote img {
    width: 55px;
  }

  html {
    font-size: 8px;
  }

  .contact__close {
    font-size: 5rem;
  }

  .slick-dots button {
    font-size: 0;
    width: 6px;
    height: 6px;
    background: var(--main-green);
    border-radius: 50%;
    padding: 0;
  }

  .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
    display: flex;
    bottom: -12px;
    position: absolute;
    gap: 15px;
    right: 50%;
    transform: translate(50%, 0);
  }

  .problems__block {
    background-attachment: initial;
  }

  .price__body {
    max-width: 100%;
  }

  .step__right {
    left: 50px;
  }

  .step__card {
    width: 200px;
    right: 50px;
  }

  .step {
    height: 170px;
  }

}

@media screen and (max-width: 576px) {
  .container {
      max-width: 100%;
      padding: 0 20px;
  }

  .pros__quote img {
    display: none;
  }

  .pros__quote-txt {
    text-align: center;
  }

  .pros__card {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content
  }

  .header__body-img {
    width: 230px;
    height: 230px;
  }

  .header {
    margin: 3rem 0;
  }

  .contact__body {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 0;
  }

  .contact__content {
  }

  .main__block-txt {
    font-size: 2.2rem;
  }

  .pros__quote-txt {
    font-size: 1.8rem;
  }

  .pros__block {
    gap: 5px;
  }

  .slick-slide img {
    width: 100%;
  }

  .footer {
    font-size: 1.5rem;
  }

  .education__info-item {
    margin-left: 10px;
  }

  .steps__block {
    align-items: flex-start;
    margin-left: 30px;
  }

  .step__card {
    right: unset;
    left: 50px;
    gap: 5px;
  }

  .media__item video,
  .media__item iframe {
    width: 100%;
  }
}
