/* General */


html, body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}


/* Rem */

html {
  font-size: 10px;
}

body {
  font-size: 16px;
}

:root {
  --main-purple: #655e79;
  --main-yellow: #C9AE76;
  --main-blue: #BDCAD9;
  --main-black: #241A07;
  --main-brown: #524C3F;
}

a, button {
  text-decoration: none;
  color: unset;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

a, h1, p, li, ul, h1, h2, h3, h4, div, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: unset;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 10px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}








/* Media */



@media screen and (max-width: 1024px) {
  .container {
      max-width: 992px;
  }
}

@media screen and (max-width: 992px) {
  .container {
      max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .container {
      max-width: 576px;
  }
}

@media screen and (max-width: 576px) {
  .container {
      max-width: 100%;
      padding: 0 20px;
  }
}
